.register-page{
    width:100%;
    min-height:100vh;
    background:linear-gradient(180deg,#F8FFFB,#EEF8F2);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 8%;
}

.register-container{
    width:100%;
    max-width:1200px;
    display:grid;
    grid-template-columns:45% 55%;
    background:white;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 20px 50px rgba(0,0,0,.08);
}

.register-left{
    background:linear-gradient(135deg,#58B368,#74CF83);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:50px;
}

.register-left img{
    width:100%;
    max-width:320px;
    margin-bottom:30px;
}

.register-left h2{
    font-size:38px;
    margin-bottom:15px;
}

.register-left p{
    line-height:28px;
    max-width:320px;
}

.register-right{
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.register-right span{
    display:inline-block;
    align-self:flex-start;
    background:rgba(88,179,104,.12);
    color:#58B368;
    padding:8px 18px;
    border-radius:40px;
    font-size:14px;
    font-weight:600;
    letter-spacing:1px;
}

.register-right h1{
    margin:20px 0 10px;
    color:#1C2B23;
    font-size:42px;
}

.register-right p{
    color:#52625A;
    margin-bottom:30px;
}

.register-right form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.register-right input{
    padding:16px 18px;
    border:none;
    outline:none;
    background:#F5FAF7;
    border-radius:14px;
    font-size:15px;
    transition:.3s;
}

.register-right input:focus{
    background:white;
    box-shadow:0 0 0 2px rgba(88,179,104,.25);
}

.register-right button{
    margin-top:10px;
    padding:16px;
    border:none;
    border-radius:14px;
    background:#58B368;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.register-right button:hover{
    background:#469E56;
    transform:translateY(-2px);
}
.login-link{
    margin-top:25px;
    text-align:center;
}

.login-link a{
    text-decoration:none;
    color:#58B368;
    font-weight:600;
}

.login-link a:hover{
    text-decoration:underline;
}

@media(max-width:992px){

.register-container{
    grid-template-columns:1fr;
}

.register-left{
    padding:40px;
}

.register-left img{
    max-width:220px;
}

.register-right{
    padding:40px;
}

}

@media(max-width:576px){

.register-page{
    padding:50px 5%;
}

.register-right{
    padding:30px;
}

.register-right h1{
    font-size:32px;
}

.register-left h2{
    font-size:30px;
}

}

.register-right select {

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:1px solid #ddd;

    border-radius:12px;

    font-size:16px;

    background:white;

    color:#333;

    outline:none;

    transition:.3s;

}

.register-right select:focus{

border-color:#58B368;

box-shadow:0 0 0 3px rgba(88,179,104,.15);

}